package ${packageName}.${moduleName}.infrastructure.repo.mapper;

import ${packageName}.${moduleName}.infrastructure.repo.dataobject,${ClassName}DO;
import java.util.List;
#if($table.sub)
import ${packageName}.${moduleName}.infrastructure.repo.dataobject.${subClassName}DO;
#end

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends ${ModuleName}BaseMapper<${ClassName}> {


    #foreach ($column in $columns)
        #if(!$columns.isIgnoreColumn())
            String $column.upperCaseJavaField = "$column.javaField";
        #end
    #end

}
