<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muyuan.manager.system.mapper.SysUserMapper">

    <select id="find" resultType="com.muyuan.manager.system.domains.model.SysUser">
        select id from t_sys_user where user_no = #{userNo}
    </select>
    <select id="selectAllocatedList" resultType="com.muyuan.manager.system.domains.model.SysUser">
        select id, username, nick_name, create_time, dept_id
        from t_sys_user
        where status = 0
        <if test="username != null and username != ''">
            AND u.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone != ''">
            AND u.phone like concat('%', #{phone}, '%')
        </if>
        and  exists (
        select user_id
        from t_sys_user_role
        where role_id = 28 and user_id = id
        )
    </select>
    <select id="selectUnallocatedList" resultType="com.muyuan.manager.system.domains.model.SysUser">
        select id, username, nick_name, create_time, dept_id
        from t_sys_user
        where status = 0
        <if test="username != null and username != ''">
            AND u.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone != ''">
            AND u.phone like concat('%', #{phone}, '%')
        </if>
        and not exists (
        select user_id
        from t_sys_user_role
        where role_id = 28 and user_id = id
        )
    </select>
</mapper>