package ${packageName}.${moduleName}.dto;

#foreach ($import in $importList)
import ${import};
#end
import com.muyuan.common.bean.PageDTO;
import lombok.Data;
import ${packageName}.${moduleName}.domains.model.${ClassName};


/**
 * ${functionName}查询参数
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${ClassName}QueryParams extends PageDTO {

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
        #if($column.list)
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
                #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
                #set($comment=$column.columnComment)
            #end
        #end
    private $column.javaType $column.javaField;

    #end
#end

}
