package ${packageName}.${moduleName}.infrastructure.persistence.dao;

import ${packageName}.${moduleName}.domain.model.${ClassName};

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends ${ModuleName}BaseMapper<${ClassName}> {
}
