<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muyuan.user.infrastructure.repo.mapper.OperatorMapper">
    <insert id="addRef">
        insert into t_user_role values
        <if test="roleIds != null and roleIds.length > 0">
            <foreach collection="roleIds" item="roleId"  separator=",">
               ( #{userId},#{roleId})
            </foreach>
        </if>
    </insert>
    <select id="selectAllocatedList" resultType="com.muyuan.user.infrastructure.repo.dataobject.OperatorDO">
        select id, username, nick_name, create_time, dept_id,status
        from t_operator
        where status = 0
        <if test="params.username != null and params.username != ''">
            AND u.username like concat('%', #{username}, '%')
        </if>
        <if test="params.phone != null and params.phone != ''">
            AND u.phone like concat('%', #{phone}, '%')
        </if>
        and  exists (
        select user_id
        from t_user_role
        where role_id = #{roleId} and user_id = id
        )
    </select>
    <select id="selectUnallocatedList" resultType="com.muyuan.user.infrastructure.repo.dataobject.OperatorDO">
        select id, username, nick_name, create_time, dept_id
        from t_operator
        where status = 0
        <if test="params.username != null and params.username != ''">
            AND u.username like concat('%', #{username}, '%')
        </if>
        <if test="params.phone != null and params.phone != ''">
            AND u.phone like concat('%', #{phone}, '%')
        </if>
        and not exists (
        select user_id
        from t_user_role
        where role_id = #{roleId} and user_id = id
        )
    </select>
    <!--    <delete id="deleteRef">-->
<!--        delete from t_role_permission where role_id = #{roleID}-->
<!--        <if test="permissionIds != null and permissionIds.length > 0">-->
<!--            and menu_id in-->
<!--            <foreach collection="permissionIds" item="permissionId" open="(" close=")" separator=",">-->
<!--                #{permissionId}-->
<!--            </foreach>-->
<!--        </if>-->
<!--    </delete>-->

</mapper>